.footer{
    position: relative;
    background: #000;
    padding-top: 65px;
    padding-bottom: 80px;;
    .left-part{
        position: absolute;
        left: 2%;
    }
    .footer-logo{
        margin-bottom: 35px;;
    }
    .inner-left-logo{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .rich-button-footer{
        width: 259px;
        height: 89px; 
        display: block;
        background: url(../assets/images/button.png);
        transition: ease-in 0.3s;
        // position: absolute;
        // right: 9%;
        // top: -22px;
        z-index: 99999;
        &:hover{
            filter: contrast(150%);
        }
    }
    .h4{
        margin-bottom: 18px;;
    }
    .footer-li{
        margin-bottom: 7px;;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }
    .footer-a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
        transition: all ease-in 0.3s;;
        &:hover{
            color: #{$accent}
        }
    }
    .link-image{
        margin-right: 10px;;
    }

}

.footer-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    ul{
        width:33%;
    }

}

.header-of-list{

}

.footer-creators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    border-top: 1px solid #363636;
}

.mart-link{
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    transition: ease 0.2s all;
    img {
        margin-right: 5px;;
    }
    &:hover{
        color: #{$accent}
    }


    
}


@media screen and (max-width: 1800px){
    .footer{
        .left-part{
            left: 0%;
        }
    }

}

@media screen and (max-width: 1600px){
    .footer{
        .left-part{
            left: 2%;
        }
    }
    .footer .rich-button-footer {
        width: 172px;
        height: 59px;       
        background-size: cover;
    }
    .footer .footer-logo {
        margin-bottom: 25px;
        max-width: 93px;
        img{
            width: 100%
        }
    }
}

@media screen and (max-width: 1500px){
    .footer{
        .left-part{
            left: 2%;
        }
    }
    .footer .inner-left-logo{
        flex-direction: row; 
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        
    }
    .footer .left-part {
        position: absolute;
        left: 50%;
        width: 500px;
        transform: translateX(-50%);
        right: 50%;
        bottom: 0px;
        margin: 0 auto;
    }
    .footer{
        padding-bottom: 180px;;
    }
    .footer .footer-logo{
        width: 100px;
    }
}

@media screen and (max-width: 768px ){
    .footer-menu{
        flex-direction: column;
        margin-bottom: 40px;
        ul{
            width: 100%;
        }
    }
    .footer .left-part{
        width: auto;;
    }
}

@media screen and (max-width: 568px ){
    .footer-creators{
        flex-direction: column;
    }
    .footer .inner-left-logo {
        flex-direction: column;
    }
    .footer .footer-logo{
        display: none;
    }
    .footer {
        padding-bottom: 100px;
    }
    .footer .left-part{
        bottom: 20px;
    }
    
}

@media screen and (max-width: 360px ){
    .mart-link{
        font-size: 13px;
    }    
}